beautifulsoup4
requests
matplotlib
seaborn
nltk
tqdm
collection
collections-extended
multi-rake
gensim
unicodedata2
numpy
mpl-toolkits.clifford
datetime2
tk
scipy
pandastable
numpy
pickle5